# Python
__pycache__/
*.egg-info/
dist/
build/
target/

# Окружения
.venv/
venv/
.env

# Инструменты
.coverage
coverage.xml
.mypy_cache
.pytest_cache
.ruff_cache
.ipynb_checkpoints

# Данные и документация
ruts_data
site/

# Редакторы и ОС
.vscode
.idea
.DS_Store
